{% extends "base.html" %}

{% block content %}

    <form method="POST">
        {%csrf_token%}
        
        <table>
            {{ login_form.as_table }}
        </table>

        <input type="submit" value="Entrar">
    </form>

    <style>
        form {
            max-width: 300px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }

        table {
            width: 100%;
            margin-bottom: 15px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #000000;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #108eb8;
        }
    </style>

{% endblock%}
